################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/home_assignment_cpp/v17
/.vs
/ElbitAssigment/.vs/ElbitAssigment/v17
/ElbitAssigment/ElbitAssigment1/x64/Release/ElbitAssigment1.tlog
/ElbitAssigment/ElbitAssignment2/x64/Release/ElbitAssignment2.tlog
